################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/euler/.vs/euler/v14
/.vs/euler/v14
/problem-*/obj/*
/problem-*/bin/*
*.suo
*.vs
